﻿@model IEnumerable<Cure_Clinic.Models.About>
@{
    ViewBag.Title = "AboutAllDoctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 70%;
            max-height : 70%;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 14px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: black;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            font-weight: bold;
        }
        /*a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }*/
        .anchor {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        button:hover, anchor:hover {
            opacity: 0.7;
        }
</style>


@section menu
{
    <ul id="responsivemenu" style="font-weight:bold;font-size:20px">
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Index"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
        <li class="active" style="color:#2ba6cb;"><a href="~/CureClinic/AboutAllDoctors">About</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Blog">Blog</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Services">Services</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Contact">Contact</a></li>
    </ul>
}

<br />
<div class="undermenuarea">
    <div class="boxedshadow">
    </div>
    <div class="grid">
        <div class="row">
            <div class="c8">
                <h1 class="titlehead">Cure Clinic Staff</h1>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="c3">
                <div class="card">
                    <img src="@item.DoctorPic" style="width:100%;height:180px">
                    <h5>@item.DoctorName</h5>
                    <p class="title">@item.Job</p>
                    <p><button  onclick="location.href='@Url.Action("About", "CureClinic",new {Id=@item.Id})'">See More</button></p>
                </div>
            </div>
        }
    }
</div>
