﻿@model Cure_Clinic.Models.About
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu
{
    <ul id="responsivemenu" style="font-weight:bold;font-size:20px">
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Index"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
        <li class="active" style="color:#2ba6cb;"><a href="~/CureClinic/AboutAllDoctors">About</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Blog">Blog</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Services">Services</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Contact">Contact</a></li>
    </ul>
 }

<br/>
<div class="undermenuarea">
    <div class="boxedshadow">
    </div>
    <div class="grid">
        <div class="row">
            <div class="c8">
                <h1 class="titlehead">About</h1>
            </div>
            <div class="c4">
                <h1 class="titlehead rightareaheader"><i class="icon-book" style="font-size:20px">@Model.DoctorName</i></h1>
            </div>
        </div>
    </div>
</div>
<br />
                    <div class="grid">
                    <h1 style="font-size:20px;font-family:'Times New Roman';font-weight:bold">
                        <span style="font-weight:bold">More Details about :</span> 
                        <span style="font-weight:bold">@Model.DoctorName</span>
                    </h1>
             
                    <div class="row">
                        <div class="c4">

                        </div>
                        <div class="c4">
                            <img src="@Model.DoctorPic" style="width:70%;border-radius:10%;height:40%" />
                        </div>
                        <div class="c4">

                        </div>
                    </div>
                    <br />
                    <div class="row" style="font-size:16px;font-family:'Times New Roman';font-weight:bold;">
                            <div class="c2">
                             
                            </div>
                            <div class="c8" style="border:solid;border-color:#2ba6cb;border-radius:5px">
                                @Model.Definition
                            </div>
                            <div class="c2">

                            </div>
                        </div>
                    </div>
<br />
<div class="row">
    <div class="c10">

    </div>
    <div class="c2">
        <input type="button" class="button" style="font-size:15px;background-color:crimson" value="Back" onclick="location.href='@Url.Action("AboutAllDoctors", "CureClinic")'">
    </div>
</div>


