﻿@model IEnumerable<Cure_Clinic.Models.Blog>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
    }
</style>
<body class="w3-light-grey">


    @section menu
    {
        <ul id="responsivemenu" style="font-weight:bold;font-size:20px">
            <li style="color:#2ba6cb;"><a href="~/CureClinic/Index"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
            <li style="color:#2ba6cb;"><a href="~/CureClinic/AboutAllDoctors">About</a></li>
            <li class="active" style="color:#2ba6cb;"><a href="~/CureClinic/Blog">Blog</a></li>
            <li style="color:#2ba6cb;"><a href="~/CureClinic/Services">Services</a></li>
            <li style="color:#2ba6cb;"><a href="~/CureClinic/Contact">Contact</a></li>
        </ul>
    }

    <div class="w3-content" style="max-width:1400px">
        <br />
        <div class="undermenuarea">
            <div class="boxedshadow">
            </div>
            <div class="grid">
                <div class="row">
                    <div class="c8">
                        <h1 class="titlehead">Blog</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="c12">
            <div class="royalcontent">
                <h1 class="title" style="text-transform:none;color:crimson;font-size:30px;">--Welcome to the Homeopathic Medicine News--</h1>
            </div>
        </div>
        <!-- Grid -->
        <div class="w3-row">
            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                @{
                    foreach (var item in Model)
                    {

                <!-- Blog entry -->
                        <div class="w3-card-4 w3-margin w3-white">
                            <img src="@item.PostImg" alt="Nature" style="width:100%;height:300px">
                            <div class="w3-container">
                                <h3><b>Dr. @item.User.UserName</b></h3>
                                <h5>@item.Title, <span class="w3-opacity">@item.PostDate</span></h5>
                            </div>

                            <div class="w3-container">
                                <p>
                                    @item.PostText.Substring(0,200)
                                </p>
                                <div class="w3-row">
                                    <div class="w3-col m8 s12">
                                        @*<p><button type="button" class="w3-button w3-padding-large w3-white w3-border" onclick="location.href='@item.Id"><b>READ MORE »</b></button></p>*@
                                        <p><a href="~/CureClinic/PostDetails/@item.Id" class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></a></p>
                                    </div>
                                    @{
                                        Cure_Clinic.Models.CureClinicEntities db = new Cure_Clinic.Models.CureClinicEntities();
                                        int CommentsCount = db.Comments.Where(M => M.BlogId == item.Id).Count();

                                        <div class="w3-col m4 w3-hide-small">
                                            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">@CommentsCount</span></span></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <hr>
                                        }
                }
            </div>

            <!-- Introduction menu -->
            <div class="w3-col l4">
                <!-- Posts -->
                <div class="w3-card-2 w3-margin">

                    <div class="w3-container w3-padding">
                        <h4>Popular Posts</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        @{
                            foreach (var item1 in Model)
                            {
                                <li class="w3-padding-16">
                                    <img src="@item1.PostImg" alt="Image" class="w3-left w3-margin-right" style="width:50px;height:33px">
                                    <span class="w3-large">Dr/@item1.User.UserName</span><br>
                                    <a href="~/CureClinic/PostDetails/@item1.Id"><span>@item1.Title</span></a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <hr>
            </div>
        </div><br>
    </div>
</body>