﻿@using Cure_Clinic.Models;
@{CureClinicEntities db = new CureClinicEntities();}
@{
    //ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu
{
    <ul id="responsivemenu" style="font-weight:bold;font-size:20px">
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Index"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/AboutAllDoctors">About</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Blog">Blog</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Services">Services</a></li>
        <li class ="active" style="color:#2ba6cb;"><a href="~/CureClinic/Contact">Contact</a></li>
    </ul>
}

<br />

        <div class="undermenuarea">
            <div class="boxedshadow">
            </div>
            <div class="grid">
                <div class="row">
                    <div class="c8">
                        <h1 class="titlehead">Contact</h1>
                    </div>
@if (Model != null)
            {
                var v2 = from d in db.Locations select d;
                var n = v2.OrderBy(rec => rec.Id).ToList();

                foreach (var item in n)
                {
                    <div class="c4">
                        <h1 class="titlehead rightareaheader"><i class="icon-map-marker"></i> Call Us Now @item.Phone</h1>
                    </div>
                }
            }
                </div>
            </div>
        </div>
 
        <div class="grid">
            <div class="row space-top">
                <!-- CONTACT FORM -->
                <div class="c8 space-top">
                    <h1 class="maintitle">
                        <span><i class="icon-envelope-alt"></i> Get in Touch</span>
                    </h1>
                    <div class="wrapcontact">
                        <div class="done">
                            <div class="alert-box success ctextarea">
                                Your message has been sent. Thank you! <a href="" class="close">x</a>
                            </div>
                        </div>
                        <form id="contactform" method="post" action="contact.php">
                            <div class="form">
                                <div class="c6 noleftmargin">
                                    <label>Name</label>
                                    <input type="text" id="name" name="name">
                                    <span id="MessageName" style="font-size:12px; color:red"></span>
                                    <br />
                                </div>
                                <div class="c6 noleftmargin">
                                    <label>E-mail address</label>
                                    <input type="text" id="email" name="email">
                                    <span id="MessageEmail" style="font-size:12px; color:red"></span>
                                    <br />
                                </div>
                                <label>Message</label>
                                <textarea id="message" name="message" class="ctextarea" rows="9"></textarea>
                                <span id="MessageComment" style="font-size:12px; color:red"></span>
                                <br />

                                <div class="row">
                                    <div class="col-md-3">

                                    </div>
                                    <div class="col-md-6">
                                        <input id="btnSubmit" type="submit" class="button" style="font-size:12px;background-color:crimson;margin-left:10px">
                                        @*<button id="btnSubmit" type="submit" class="btn btn-danger" style="background-color:crimson;color:white">Submit</button>*@
                                        <h5 id="result" style="color:#0dc5cf;font-size:15px;"><span data-valmsg-for="message" data-valmsg-replace="true"></span></h5>

                                    </div>
                                    <div class="col-md-3">

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="c4 space-top">
                    <h1 class="maintitle">
                        <span><i class="icon-map-marker"></i> Locations</span>
                    </h1>
                    <p>
                        <a class="link-2" href="~/CureClinic/Index">Cure Integrative Clinic</a>
                    </p>

                @if (Model != null)
                {
                    var v2 = from d in db.Locations select d;
                    var n = v2.OrderBy(rec => rec.Id).ToList();

                    foreach (var item in n)
                    {

                    <dl>
                        <dt>Address: @item.Address </dt>
                        <dd><span>Telephone: </span>@item.Phone</dd>
                        <dd>E-mail: <a href="more.html">@item.Email</a></dd>
                    </dl>
                    }
                }


                    <br />
                </div>
            </div>

            <div class="shadowundertop"></div>
            <div class="row space-bot">
                <div class="c12">
                    @*<iframe class="gmap" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=disney+paris&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=39.371738,86.572266&amp;ie=UTF8&amp;hq=disney&amp;hnear=Paris,+%C3%8Ele-de-France,+France&amp;t=m&amp;fll=48.881877,2.535095&amp;fspn=0.512051,1.352692&amp;st=103241701817924407489&amp;rq=1&amp;ev=zo&amp;split=1&amp;ll=49.027964,2.772675&amp;spn=0.315159,0.585022&amp;z=10&amp;iwloc=D&amp;output=embed"></iframe>*@
                    @*<iframe class="gmap" src="https://www.google.com.eg/maps/place/Information+Technology+Institute,Assuit/27.1876069,31.1604291,15z/data=!4m5!3m4!1s0x0:0xd4989f47ed2a41e4!8m2!3d27.1876069!4d31.1691839?hl=en"></iframe>*@ 
                    <iframe frameborder="0" style="border:0;width:100%;height:400px"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDLgvPfTHvzvbfaDH0uJBaUwjkSlfdE4dU
                            &q= 483 Dundas Street West, Unit 207 Oakville, ON, L6M 1L9" allowfullscreen></iframe>
                </div>
            </div>
        </div><!-- end grid -->
 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    function CheckInputs() {
        var Name = document.getElementById("name").value;
        var EmailAddress = document.getElementById("email").value;
        var Message = document.getElementById("message").value;

        if (Name != "" && EmailAddress != "" && Message != "") {
            return true;
        }
        else {
            document.getElementById("MessageName").innerHTML = "";
            document.getElementById("MessageEmail").innerHTML = "";
            document.getElementById("MessageComment").innerHTML = "";
            if (Name == "") {
                document.getElementById("MessageName").innerHTML = "Enter Full Name";
            }
            if (!IsValidEmail(EmailAddress))
            {
                document.getElementById("MessageEmail").innerHTML = "Please Enter Correct Email ";
            }
            if (EmailAddress == "") {
                document.getElementById("MessageEmail").innerHTML = "Enter Email";
            }
            if (Message == "") {
                document.getElementById("MessageComment").innerHTML = "Enter Message ";
            }
            return false;
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#contactform').on('submit', function (event) {
            event.preventDefault();
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/CureClinic/Contact',
                type: 'post',
                data: $('#contactform').serialize(),
                dataType: "json",
                beforeSend: function () {

                    $('#btnSubmit').html('Sending ....'); // change submit button text
                    $('#result').text("");
                    $('#name').css("borderColor", "");
                    $('#email').css("borderColor", "");
                    $('#message').css("borderColor", "");
                },
                success: function (data) {
                    // There is no problem with the validation
                    if (data.success) {
                        $('#btnSubmit').html(' Send');
                        $('#result').text("“ Sending Succssefully ”");
                        document.getElementById("contactform").reset();
                        $('#name').css("borderColor", "");
                        $('#MessageName').text("");
                        $('#MessageEmail').text("");
                        $('#MessageComment').text("");
                        $('#Phone').css("borderColor", "");
                        $('#email').css("borderColor", "");
                        $('#message').css("borderColor", "");
                    }
                    // Problem happend during the validation, display message related to the field
                    $.each(data.Errors, function (key, value) {
                        if (value != null) {
                            //$("#Err_" + key).html(value);
                            $("#" + key).css("borderColor", "rgba(247, 5, 5, 0.53)");
                            $('#btnSubmit').html('Send');
                            $('#result').text("");
                        }
                    });
                }
            });
        });
    });
</script>

<script type="text/javascript">
    function IsValidEmail(EmailAddress)
    {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(EmailAddress);
    };
</script>


