﻿@model Cure_Clinic.Models.SubService
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu
{
    <ul id="responsivemenu" style="font-weight:bold;font-size:20px">
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Index"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/AboutAllDoctors">About</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Blog">Blog</a></li>
        <li class="active" style="color:#2ba6cb;"><a href="~/CureClinic/Services">Services</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Contact">Contact</a></li>
    </ul>
}

<br />
<div class="undermenuarea">
    <div class="boxedshadow">
    </div>
    <div class="grid">
        <div class="row">
            <div class="c8">
                <h1 class="titlehead">@Model.Title</h1>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="c3">

    </div>
    <div class="c8">
        <img src="@Model.Image" style="width:80%;border-radius: 50%;" />
    </div>
    <div class="c1">

    </div>
</div>
<br />
<div class="row">
    <div class="c2">

    </div>
    <div class="c8">
        <input id="Id" name="Id" value="@Model.Id" type="hidden" />
        <p id="text" style="font-size:22px;color:#00858e;text-indent: 50px;line-height:180%;text-align:left;">
            @Model.Text
        </p>
    </div>
    <div class="c2">

    </div>
</div>
<br />
<div class="row">
    <div class="c10">

    </div>
    <div class="c2">
        <br />
        <input type="button" class="button" style="font-size:12px;background-color:crimson;margin-left:85px" value="Back" onclick="location.href='@Url.Action("Services", "CureClinic")'">
    </div>
</div>

