﻿@using Cure_Clinic.Models;

    @{
       CureClinicEntities db = new CureClinicEntities();
    }

    @{
       ViewBag.Title = "Index";
       Layout = "~/Views/Shared/_Layout.cshtml";
    }
<!-- Gallery -->
<script src="~/Contents/js/jquery-1.9.1.min.js"></script>
<script src="~/Contents/js/jssor.slider.min.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function ($) {

            var jssor_1_options = {
              $AutoPlay: 1,
              $AutoPlaySteps: 4,
              $SlideDuration: 160,
              $SlideWidth: 200,
              $SlideSpacing: 3,
              $Cols: 5,
              $Align: 390,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $Steps: 5
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 980;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        });
</script>
<style>
        /* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        to {
            transform: rotate(360deg);
        }

        .jssorb057 .i {position:absolute;cursor:pointer;}
        .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
        .jssorb057 .i:hover .b {stroke-opacity:.7;}
        .jssorb057 .iav .b {stroke-opacity: 1;}
        .jssorb057 .i.idn {opacity:.3;}

        .jssora073 {display:block;position:absolute;cursor:pointer;}
        .jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
        .jssora073:hover {opacity:.8;}
        .jssora073.jssora073dn {opacity:.4;}
        .jssora073.jssora073ds {opacity:.3;pointer-events:none;}
</style>
<!-- End Gallery -->

@section menu
    {
    <ul id="responsivemenu" style="font-weight:bold;font-size:20px">
        <li class="active"  style="color:#2ba6cb;"><a href="~/CureClinic/Index"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/AboutAllDoctors">About</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Blog">Blog</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Services">Services</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Contact">Contact</a></li>
    </ul>
}

<br />
    <div class="undermenuarea">
        <div class="boxedshadow">
        </div>
        <!--Slider-->
        <div id="da-slider" class="da-slider">
            @{

                foreach (var item in Model)
                {

                    <div class="da-slide">
                        <p>
                            @item.SlideText1
                        </p>
                        <div class="da-img">
                            <img src="@item.SlideImg1" alt="" style="width:900px;height:350px">
                        </div>
                    </div>

                    <div class="da-slide">
                        <p class="center-text booking-white">
                            @item.SlideText2
                        </p>
                        <div class="da-img">
                            <img src="@item.SlideImg2" alt="" style="width:900px;height:350px">
                        </div>
                    </div>

                    <div class="da-slide">
                        <p class="special-p">
                            @item.SlideText3
                        </p>
                        <div class="da-img">
                            <img src="@item.SlideImg3" alt="" style="width:900px;height:350px">
                        </div>
                    </div>
                }
            }
                    <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
        </div>
    </div>
 <div class="grid">
     <div class="row space-bot">
           <div class="c12">
                            <div class="royalcontent">
                                <h1 class="royalheader">WELCOME TO Cure Integrative Clinic</h1>
                                <h1 class="title" style="text-transform:none;">Cure integrative clinic therapies are targeted to the underlying imbalance in your body, not just the symptoms</h1>
                            </div>
                        </div>
                       
          @if (Model != null)
             {
               var H = from h in db.HomeBoxes select h;
               foreach (var item in H)
                 {
                       <!--Box 1-->
                        <div class="c4">
                                    <h2 class="title hometitlebg"><img src="@item.Img1" style="width:15%;height:15%" /></h2>
                                    <div class="noshadowbox">
                                        <br />
                                        <h3 style="font-family:'Times New Roman'">
                                            @item.Text1
                                        </h3>
                                        <br /><br />
                                    </div>
                         </div>
                       <!--Box 2-->
                        <div class="c4">
                                    <h2 class="title hometitlebg"><img src="@item.Img2" style="width:15%;height:15%" /></h2>
                                    <div class="noshadowbox">
                                        <br />
                                        <h3 style="font-family:'Times New Roman'">
                                            @item.Text2
                                        </h3>
                                        <br /><br />
                                    </div>
                                </div>
                       <!--Box 3-->
                        <div class="c4">
                                    <h2 class="title hometitlebg"><img src="@item.Img3" style="width:15%;height:15%" /></h2>
                                    <div class="noshadowbox">
                                        <br />
                                        <h3 style="font-family:'Times New Roman'">
                                           @item.Text3
                                        </h3>
                                        <br /><br />
                                    </div>
                                </div>
                           }
                        }  
                    </div>


                    <!-- Gallery-->
                    <div class="row space-top">
                        <div class="c12 space-top">
                            <h1 class="maintitle ">
                                <span>Gallery</span>
                            </h1>
                        </div>
                    </div>

                    <div class="row space-bot">
                        <div class="c12">
                            <div class="list_carousel">
                                @*<div class="carousel_nav">
                                    <a class="prev" id="car_prev" href="#"><span>prev</span></a>
                                    <a class="next" id="car_next" href="#"><span>next</span></a>
                                </div>*@

                                <div class="clearfix">

                                </div>

                                @{
                                    foreach (var item in Model)
                                    {
                                        <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:150px;overflow:hidden;visibility:hidden;">
                                            <!-- Loading Screen -->
                                            <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                                                <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="../svg/loading/static-svg/spin.svg" />
                                            </div>
                                            <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:150px;overflow:hidden;">
                                                <div>
                                                    <img data-u="image" src="@item.GPhoto1" />
                                                </div>
                                                <div>
                                                    <img data-u="image" src="@item.GPhoto2" />
                                                </div>
                                                <div>
                                                    <img data-u="image" src="@item.GPhoto3" />
                                                </div>
                                                <div>
                                                    <img data-u="image" src="@item.GPhoto4" />
                                                </div>
                                                <div>
                                                    <img data-u="image" src="@item.GPhoto5" />
                                                </div>
                                                <div>
                                                    <img data-u="image" src="@item.GPhoto6" />
                                                </div>
           
                                                <a data-u="any" href="https://www.jssor.com" style="display:none">carousel html</a>
                                            </div>
                                            <!-- Bullet Navigator -->
                                            <div data-u="navigator" class="jssorb057" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                                                <div data-u="prototype" class="i" style="width:16px;height:16px;">
                                                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                                        <circle class="b" cx="8000" cy="8000" r="5000"></circle>
                                                    </svg>
                                                </div>
                                            </div>
                                            <!-- Arrow Navigator -->
                                            <div data-u="arrowleft" class="jssora073" style="width:50px;height:50px;top:0px;left:30px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                                                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                                    <path class="a" d="M4037.7,8357.3l5891.8,5891.8c100.6,100.6,219.7,150.9,357.3,150.9s256.7-50.3,357.3-150.9 l1318.1-1318.1c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3L7745.9,8000l4216.4-4216.4 c100.6-100.6,150.9-219.7,150.9-357.3c0-137.6-50.3-256.7-150.9-357.3l-1318.1-1318.1c-100.6-100.6-219.7-150.9-357.3-150.9 s-256.7,50.3-357.3,150.9L4037.7,7642.7c-100.6,100.6-150.9,219.7-150.9,357.3C3886.8,8137.6,3937.1,8256.7,4037.7,8357.3 L4037.7,8357.3z"></path>
                                                </svg>
                                            </div>
                                            <div data-u="arrowright" class="jssora073" style="width:50px;height:50px;top:0px;right:30px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                                                <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                                    <path class="a" d="M11962.3,8357.3l-5891.8,5891.8c-100.6,100.6-219.7,150.9-357.3,150.9s-256.7-50.3-357.3-150.9 L4037.7,12931c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3L8254.1,8000L4037.7,3783.6 c-100.6-100.6-150.9-219.7-150.9-357.3c0-137.6,50.3-256.7,150.9-357.3l1318.1-1318.1c100.6-100.6,219.7-150.9,357.3-150.9 s256.7,50.3,357.3,150.9l5891.8,5891.8c100.6,100.6,150.9,219.7,150.9,357.3C12113.2,8137.6,12062.9,8256.7,11962.3,8357.3 L11962.3,8357.3z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>



