﻿@model Cure_Clinic.Models.Blog
@{
    ViewBag.Title = "PostDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<link href="~/Contents/css/StyleSheet1.css" rel="stylesheet" />
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
    }
</style>

@section menu
    {
    <ul id="responsivemenu" style="font-weight:bold;font-size:20px">
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Index"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/AboutAllDoctors">About</a></li>
        <li class="active" style="color:#2ba6cb;"><a href="~/CureClinic/Blog">Blog</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Services">Services</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Contact">Contact</a></li>
    </ul>
}

<br />
<div class="undermenuarea">
    <div class="boxedshadow">
    </div>
    <div class="grid">
        <div class="row">
            <div class="c8">
                <h1 class="titlehead">Post Details & Comments</h1>
            </div>
        </div>
    </div>
</div>
<br />
<div class="grid">

    <div class="w3-row">
        <!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-white">
            
            <img src="@Model.PostImg" alt="Nature" style="width:100%;height:300px">
            <div class="w3-container">
                <h3><b>Dr. @Model.User.UserName</b></h3>
                <h5>@Model.Title, <span class="w3-opacity">@Model.PostDate</span></h5>
            </div>

            <div class="w3-container">
                <p>
                    @Model.PostText
                </p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                        @{
                            Cure_Clinic.Models.CureClinicEntities db = new Cure_Clinic.Models.CureClinicEntities();
                            int CommentsCount = db.Comments.Where(M => M.BlogId == Model.Id).Count();

                            <div class="w3-col m4 w3-hide-small">
                                <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">@CommentsCount</span></span></p>
                            </div>
                        }
                    </div>

                <hr>

                <form id="myForm" class="form-inline" role="form">
                    <div class="form-group" style="width:80%">
                        <input id="Id" name="Id" value="@Model.Id" type="hidden" />
                        <input id="Comment" name="Comment" class="form-control" type="text" style="width:100%" placeholder="Your comments" />
                    </div>
                    <div class="form-group" style="margin-right:20px">
                        <button id="btnSubmit" type="submit" class="btn btn-danger" style="color:white;width:90px">Add</button>
                    </div>
                    <br/>
                    <span id="MessageComment" style="font-size:12px; color:red"></span>
                </form>

                <hr>

                  <!-- Show Comments -->
                  @{
                    var Comments = db.Comments.Where(c => c.BlogId == Model.Id).OrderByDescending(M => M.Id).ToList();
                    foreach (var item in Comments)
                    {
                     <div class="w3-row">
                        <div class="w3-col l2 m3" style="width: 10.99999%;">
                            <img src="~/Contents/images/background/download.png" style="width:80px;height:80px" />
                        </div>
                        <div class="w3-col l10 m9">
                            <p>
                                <h5 style="font-size:18px;font-family:Arial">
                                    @item.Comment1<br />
                                    <span class="w3-opacity w3-medium">@item.CommentDate</span>
                                </h5>
                            </p>
                        </div>
                       <br />
                    </div>
                     <!-- End Comments -->
                    <hr>
                    }
                }
                </div>
        </div>
    </div>
 </div>
    @*<br />
        <div class="row">
            <div class="c10">

            </div>
            <div class="c2">
                <input type="button" class="button" style="font-size:12px;background-color:crimson" value="Back" onclick="location.href='@Url.Action(" AboutAllDoctors", "CureClinic" )'">
            </div>
        </div>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    function CheckInputs() {
        var Comment = document.getElementById("Comment").value;

        if (Comment != "") {
            return true;
        }
        else {
            document.getElementById("MessageComment").innerHTML = "";

            if (Comment == "") {
                document.getElementById("MessageComment").innerHTML = "Enter Your Comment";
            }
            return false;
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/CureClinic/PostDetails',
                type: 'post',
                data: $('#myForm').serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        location.href = '@Url.Action("PostDetails", "CureClinic")';
                    }
                    else if (!data.success) {
                        document.getElementById("MessageComment").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
</script>

