﻿@model IEnumerable<Cure_Clinic.Models.MainService>
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section menu
{
    <ul id="responsivemenu" style="font-weight:bold;font-size:20px">
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Index"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/AboutAllDoctors">About</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Blog">Blog</a></li>
        <li class="active" style="color:#2ba6cb;"><a href="~/CureClinic/Services">Services</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Contact">Contact</a></li>
    </ul>
}

<br />
<div class="undermenuarea">
    <div class="boxedshadow">
    </div>
    <div class="grid">
        <div class="row">
            <div class="c8">
                <h1 class="titlehead">Services</h1>
            </div>
        </div>
    </div>
</div>

<div class="row space-bot">
    <!--INTRO-->
    <div class="c3">

    </div>
    <div class="c6">
        <div class="royalcontent">
            @*<h1 class="title" style="text-transform:none;color:indianred;font-size:30px;">-- Our Services --</h1>*@
        </div>
    </div>
    <div class="c3">

    </div>

    @{
        foreach (var item in Model)
        {
            <div class="item">
                <div class="c4">
                    <br /><br />
                    <a href="~/CureClinic/SubServices/@item.Id" style="border-radius:30px; margin: 100px 89px;background-color:cadetblue;padding: 15px 32px;font-size: 20px;color:white">
                        @item.Title
                    </a>
                </div>
            </div>
        }
    }

</div>