﻿@model IEnumerable<Cure_Clinic.Models.SubService>
@{
    ViewBag.Title = "SubServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .boxstyle {
        background-color: lavender;
        width: 200px;
        height: 150px;
        padding: 40px 40px;
        text-align: center;
        box-shadow: 10px 10px 5px #888888;
    }

    .anchorstyle {
        font-size: 22px;
        font-family: 'Times New Roman';
        color: chocolate;
    }
</style>

@section menu
{
    <ul id="responsivemenu" style="font-weight:bold;font-size:20px">
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Index"><i class="icon-home homeicon"></i><span class="showmobile">Home</span></a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/AboutAllDoctors">About</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Blog">Blog</a></li>
        <li class="active" style="color:#2ba6cb;"><a href="~/CureClinic/Services">Services</a></li>
        <li style="color:#2ba6cb;"><a href="~/CureClinic/Contact">Contact</a></li>
    </ul>
}

<br />
<div class="undermenuarea">
    <div class="boxedshadow">
    </div>
    <div class="grid">
        <div class="row">
            <div class="c8">
                <h1 class="titlehead">@ViewBag.MainTitle</h1>
            </div>
        </div>
    </div>
</div>

<br /><br />

@{
    foreach (var item in Model)
    {
        <div class="item">
            <div class="c3" style="padding-left:50px">
                <br /><br />
                <div class="boxstyle">
                    <a href="~/CureClinic/Details/@item.Id" class="anchorstyle">@item.Title</a>
                </div>
            </div>
        </div>
    }
}

<br /><br />
<div class="row">
    <div class="c10">

    </div>
    <div class="c2">
        <br/>
        <input type="button" class="button" style="font-size:12px;background-color:crimson;margin-left:85px" value="Back" onclick="location.href='@Url.Action("Services", "CureClinic")'">
    </div>
</div>
