﻿@using Cure_Clinic.Models
@{Cure_Clinic.Models.CureClinicEntities db = new Cure_Clinic.Models.CureClinicEntities(); }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/Contents/css_dashboard/bootstrap.min.css" rel="stylesheet">
    <link href="~/Contents/css_dashboard/sb-admin.css" rel="stylesheet">
    <link href="~/Contents/css_dashboard/plugins/morris.css" rel="stylesheet">
    <link href="~/Contents/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin/IndexAdmin"><img src="~/Contents/img/logo.png" /></a>

                <a class="navbar-brand" href="/admin/IndexAdmin" style="padding-top:41px;color:#0dc0ca">Cure Integrative Clinic</a>
            </div>
            <!-- Top Menu Items -->
            <br />
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    @{
                        int DoctorCount = db.Users.Where(s=>s.RoleId==2).Count();
                        //var Doctors = db.Contacts.OrderByDescending(M => M.Date).ToList().Take(3);
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-md fa-fw"></i> <b class="caret"></b>
                            <span style="color:red">@DoctorCount</span>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="AddDoctor"><i class="fa fa-plus-circle fa-fw"></i> Add Doctor</a>
                            </li>
                        </ul>
                    }
                </li>

                <li class="dropdown">
                    @{
                        int MessagesCount = db.Contacts.Where(M => M.IsSeen == false).Count();
                        var Messages = db.Contacts.OrderByDescending(M => M.Date).ToList().Take(3);
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i> <b class="caret"></b>
                            <span style="color:red">@MessagesCount</span>
                        </a>
                        <ul class="dropdown-menu message-dropdown">
                            @if (Messages != null)
                            {
                                foreach (var item in Messages)
                                {
                                    <li>
                                        <a href="#">
                                            <div>
                                                <strong style="color:black">@item.Name</strong>
                                            </div>
                                            @if (item.Message.Length > 30)
                                            {
                                                <div style="color:gray">@item.Message.Substring(0, 15)</div>
                                            }
                                            else
                                            {
                                                <div style="color:gray">@item.Message</div>
                                            }
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a href="#">
                                        <div></div>
                                        <div>There is no messages</div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                            }
                            <li>
                                <a href="Contact" style="color:crimson">View All</a>
                            </li>
                        </ul>
                    }
                </li>

                <li class="dropdown">
                    @{
                        int userId = LogedUser.CurrentUser().Id;
                        var query = (from u in db.Users
                                     where u.Id == userId
                                     select u).FirstOrDefault();

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @query.UserName<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @*<li>
                                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                                </li>*@
                            <li>
                                <a href="ChangeAdminData"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="Logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    }
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                @*<ul class="nav navbar-nav side-nav">*@
                @RenderSection("menu")
                @*</ul>*@
            </div>
            <!-- /.navbar-collapse -->
            <br />
        </nav>

        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/Contents/js_dashboard/jquery.js"></script>
    <script src="~/Contents/js_dashboard/bootstrap.min.js"></script>
    <script src="~/Contents/js_dashboard/plugins/morris/raphael.min.js"></script>
    <script src="~/Contents/js_dashboard/plugins/morris/morris.min.js"></script>
    <script src="~/Contents/js_dashboard/plugins/morris/morris-data.js"></script>
</body>
</html>
