﻿@using Cure_Clinic.Models
@{Cure_Clinic.Models.CureClinicEntities db = new Cure_Clinic.Models.CureClinicEntities(); }
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cure Integrative Clinic</title>
    <link rel="stylesheet" type="text/css" href="~/Contents/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/css/slider.css" />
    <link rel="stylesheet" type="text/css" href="~/Contents/css/skinblue.css" /><!-- change skin color -->
    <link rel="stylesheet" type="text/css" href="~/Contents/css/responsive.css" />
    <link rel="icon" href="~/Contents/images/background/favicon.ico" type="image/x-icon" />
    <script src="~/Contents/js/jquery-1.9.0.min.js"></script>

    <script src="@Url.Content("~/Contents/js/jquery-1.5.1.min.js")"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Contents/js/jquery-ui-1.8.11.js")"></script>
    <link href="~/Contents/themes/base/jquery.ui.all.css" rel="stylesheet" />

<script type="text/javascript">
$.ajaxSetup({ cache: false });

$(document).ready(function () {
    $(".openDialog").live("click", function (e) {
        e.preventDefault();

    $("<div></div>")
        .addClass("dialog")
        .attr("id", $(this)
        .attr("data-dialog-id"))
        .appendTo("body")
        .dialog({
        title: $(this).attr("data-dialog-title"),
        close: function () { $(this).remove(); },
        modal: true,
        height: 600,
        width: 550,
        left: 0

    })
    .load(this.href);
    });

    $(".close").live("click", function (e) {
        e.preventDefault();
        $(this).closest(".dialog").dialog("close");
    });
});
</script>
<style>
        #mySidenav a {
    position: fixed;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;

}

#mySidenav a:hover {
    left: 0;
}

#book {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
}
    </style>
</head>
<body>
    <div class="boxedtheme">
        
        <!-- TOP LOGO & MENU-->
        <div class="grid">
            <div class="row space-bot" >
                <!--Logo-->
                <div class="c1">
                    <a href="@Url.Action("Index","CureClinic")">
                        <span>
                            @*@*<img src="~/Contents/images/background/apple-icon-180x180.png" class="logo" alt="">*@
                            <img src="~/Contents/img/android-icon-96x96.png" />

                        </span>
                    </a>
                </div>
                <div class="c6">
                    <br />
                    <h1 style="color:#2ba6cb;font-family:OpenSansBold;line-height: 25px;margin-top:14px;" class="royalheader">Cure Integrative Clinic</h1>
                </div>
                <!--Menu-->
                <div class="c5">
                    <nav id="topNav">
                        @RenderSection("menu")
                     
                    </nav>
                    <div class="book-online">
                        <h2 class="visited center-text">
                        @*<a href="https://www.smartnd.ca/online-booking/1081/DrNesreen" style="border-radius:30px; margin: 100px 89px;background-color:cadetblue;padding: 15px 32px;font-size: 16px;color:white">Book Now</a>*@</h2>
                    </div> 
                </div>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="https://www.smartnd.ca/online-booking/1081/DrNesreen" id="book">Book</a>
            <a href="~/CureClinic/Blog" id="blog">Blog</a>
            <a href="~/CureClinic/Services" id="projects">Services</a>
            <a href="~/CureClinic/Contact" id="contact">Contact</a>
        </div>
        @RenderBody()
        
        
        <!-- FOOTER -->
        <div id="wrapfooter">
            <div class="grid">
                <div class="row" id="footer">
                    <!-- to top button  -->
                    <p class="back-top floatright">
                        <a href="#top"><span></span></a>
                    </p>
                    <!-- 1st column -->
                    <div class="c3">
                        <img src="~/Contents/images/background/cure-clinic.jpg" style="padding-top: 70px;width:200px" alt="">
                    </div>
                    <!-- 2nd column -->
               
                    <div class="c3">
                    @if (Model != null)
                    {
                        var v2 = from d in db.Locations select d;
                        var n = v2.OrderBy(rec => rec.Id).ToList();

                        foreach (var item in n)
                        {
                        <h2 class="title"><i class="icon-envelope-alt"></i> Contact</h2>
                        <hr class="footerstress">
                        <dl>
                            <dt> Address: @item.Address</dt >
                             <dd><span> Telephone:</span >  @item.Phone</dd>
                            <dd>E-mail: @item.Email</dd>
                        </dl>
                        }
                    }
                    </div>
                 
                    <!-- 4th column -->
                    <div class="c3">
                        <h2 class="title"><i class="icon-link"></i> Social Links</h2>
                        <hr class="footerstress">
                        <ul class="social-links" style="margin-top:15px;">
                            <li class="twitter-link smallrightmargin">
                                <a href="#" class="twitter has-tip" title="Follow Us on Twitter">Twitter</a>
                            </li>
                            <li class="facebook-link smallrightmargin">
                                <a href="#" class="facebook has-tip" title="Join us on Facebook">Facebook</a>
                            </li>
                            <li class="google-link smallrightmargin">
                                <a href="#" class="google has-tip" title="Google +">Google</a>
                            </li>
                            <li class="linkedin-link smallrightmargin">
                                <a href="#" class="linkedin has-tip" title="Linkedin">Linkedin</a>
                            </li>
                            <li class="pinterest-link smallrightmargin">
                                <a href="#" class="pinterest has-tip" title="Pinterest">Pinterest</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end 4th column -->
                </div>
            </div>
        </div>
        <!-- copyright area -->
        <div class="copyright">
            <div class="grid">
                <div class="row">
                    <div class="c6">
                        Cure Integrative Clinic &copy; 2017. All Rights Reserved.
                    </div>
                    <div class="c6">
                        <span class="right">
                            Cure Integrative Clinic
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <script src="~/Contents/js/modernizr-latest.js"></script>
    <script src="~/Contents/js/common.js"></script>
    <script src="~/Contents/js/jquery.cslider.js"></script>
    <script src="~/Contents/js/jquery.cycle.js"></script>
    <script src="~/Contents/js/jquery.carouFredSel-6.0.3-packed.js"></script>
    <script src="~/Contents/js/jquery.tweet.js"></script>

    <script type="text/javascript">
            $(window).load(function(){
			$('#recent-projects').carouFredSel({
				responsive: true,
				width: '100%',
				auto: true,
				circular	: true,
				infinite	: false,
				prev : {
					button		: "#car_prev",
					key			: "left",
						},
				next : {
					button		: "#car_next",
					key			: "right",
							},
				swipe: {
					onMouse: true,
					onTouch: true
					},
				scroll : 2000,
				items: {
					visible: {
						min: 4,
						max: 4
					}
				}
			});
		});
    </script>
    <!-- Call opacity on hover images from carousel-->
    <script type="text/javascript">
        $(document).ready(function(){
        $("img.imgOpa").hover(function() {
        $(this).stop().animate({opacity: "0.6"}, 'slow');
        },
        function() {
        $(this).stop().animate({opacity: "1.0"}, 'slow');
    });
  });
    </script>
</body>
</html>
