﻿@model Cure_Clinic.Models.About
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li class="active">
                <a href="CureClinicStaff"><i class="fa fa-fw fa-pencil"></i> About</a>
            </li>
            <li>
                <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
            </li>
            <li>
                <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
            </li>
         </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            @Model.DoctorName
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="Index">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-pencil"></i> About
                            </li>
                        </ol>
                    </div>
                </div>
                <form id="myForm" method="post">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-11">
                            <p style="font-weight:bold;font-size:20px">Choose Picture :</p>
                            <br />
                            <img src="@Model.DoctorPic" style="width:20%;border-radius: 50%;" />
                            <br /><br />
                            <input type="file" name="Image" id="Image" />
                            <span id="MessageImage" style="font-size:12px; color:red"></span>
                            
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-8">
                            <p style="font-weight:bold;font-size:20px">About @Model.DoctorName:</p>
                            <input id="AboutId" name="AboutId" value="@Model.Id" type="hidden" />
                            <textarea id="Text" name="Text" rows="7" cols="100" placeholder="Enter About Text" style="width:100%;height:100%">
                                @Model.Definition
                            </textarea>
                            <span id="MessageText" style="font-size:12px; color:red"></span>
                            <hr />
                            <br /><br />
                            <div>
                                <input id="btn_save" type="submit" value="Save" class="btn btn-danger" style="background:brown;color:white" />
                                <input id="btn_cancle" type="button" value="Cancle" class="btn btn-danger" style="background:brown;color:white" onclick="location.href='@Url.Action("CureClinicStaff", "admin")'" />
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
    function CheckInputs() {
        var Text = document.getElementById("Text").value;
        if (Text != "")
        {
            return true;
        }
        else
        {
            document.getElementById("MessageText").innerHTML = "";
            if (Text == "")
            {
                document.getElementById("MessageText").innerHTML = "Enter About Text";
            }
            return false;
        }
    }
    </script>


    <script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            var formData = new FormData($('form')[0]);
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/admin/About',
                type: 'post',
                data: $('#myForm').serialize(),
                data: formData,
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        location.href = '@Url.Action("CureClinicStaff", "admin")';
                    }
                    else if (!data.success) {
                        document.getElementById("MessageName").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
    </script>

</body>
</html>

