﻿@using Cure_Clinic.Models;
@{CureClinicEntities db = new CureClinicEntities();}
@{
    ViewBag.Title = "AddBlog";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Blog</title>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="CureClinicStaff"><i class="fa fa-fw fa-pencil"></i> About</a>
            </li>
            <li class="active">
                <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
            </li>
            <li>
                <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
            </li>
         </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Add Blog
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-edit"></i>  <a href="Blog">Blog</a>
                            </li>
                            <li class="active">
                                AddBlog
                            </li>
                        </ol>
                    </div>
                </div>

                <form id="myForm" method="post">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-11">
                            <p style="font-weight:bold;font-size:20px">Choose Picture :</p>
                            <br />
                            <input type="file" name="Image" id="Image" />
                            <span id="MessageImage" style="font-size:12px; color:red"></span>
                            <hr />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-11">
                            <p style="font-weight:bold;color:brown;font-size:15px">Title</p>
                            <input id="Title" name="Title" type="text" placeholder="Enter Post Title" style="width:250px"/>
                            <br />
                            <span id="MessageName" style="font-size:12px; color:red"></span>
                            <hr />
                            <p style="font-weight:bold;color:brown;font-size:15px">Text</p>
                            <textarea id="Text" name="Text" rows="7" cols="80" placeholder="Enter Post Text" style="width:80%;height:100%"></textarea>
                            <br />
                            <span id="MessageText" style="font-size:12px; color:red"></span>
                            <br /><br />
                            <div>
                                <input id="btn_save" type="submit" value="Save" class="btn btn-danger" style="background:brown;color:white" />
                                <input id="btn_cancle" type="button" value="Cancle" onclick="location.href='@Url.Action("Blog", "admin")';" class="btn btn-danger" style="background:brown;color:white" />
                            </div>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
    function CheckInputs() {
        var Title = document.getElementById("Title").value;
        var Text = document.getElementById("Text").value;

        if (Title != "" && Text != "") {
            return true;
        }
        else {
            document.getElementById("MessageName").innerHTML = "";
            document.getElementById("MessageText").innerHTML = "";

            if (Title == "") {
                document.getElementById("MessageName").innerHTML = "Enter Post Title";
            }
            if (Text == "") {
                document.getElementById("MessageText").innerHTML = "Enter Post Text";
            }
            return false;
        }
    }
    </script>
    <script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            var formData = new FormData($('form')[0]);
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/admin/AddBlog',
                type: 'post',
                data: $('#myForm').serialize(),
                data: formData,
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        location.href = '@Url.Action("Blog", "admin")';
                    }
                    else if (!data.success) {
                        document.getElementById("MessageName").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
    </script>

</body>
</html>

