﻿@using Cure_Clinic.Models;
@{CureClinicEntities db = new CureClinicEntities();}
@{
    ViewBag.Title = "AddDoctor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Doctor</title>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="IndexAdmin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="HomeEditing"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="Location"><i class="fa fa-map-marker"></i> Location</a>
                </li>
            </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            AddDoctor
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-user-md fa-fw"></i><a href="IndexAdmin">Users</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-plus-circle fa-fw"></i> Add Doctor
                            </li>
                        </ol>
                    </div>
                </div>

                <form id="myForm" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-primary" style="border-color:#222222">
                                <div class="panel-heading" style="background-color:#222222;color:#0dc5cf">Add Doctor</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <input id="Email" name="Email" type="text" class="form-control" placeholder="Enter Email Address" />
                                            <span id="EmailError" style="font-size:12px; color:red"></span>
                                        </div>
                                    </div>
                                    <div class="row" style="height:10px"></div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <input id="UserName" name="UserName" type="text" class="form-control" placeholder="Enter UserName" />
                                            <span id="UserNameError" style="font-size:12px; color:red"></span>
                                        </div>
                                    </div>
                                    <div class="row" style="height:10px"></div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <input id="Password" name="Password" type="password" class="form-control" placeholder="Enter Password" />
                                            <span id="PasswordError" style="font-size:12px; color:red"></span>
                                        </div>
                                    </div>
                                    <div class="row" style="height:10px"></div>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            @Html.DropDownList("Id", new SelectList(db.UserRoles, "Id", "RoleName"), "Choose User Role", htmlAttributes: new { @id = "Id", @class = "form-control" })
                                            <span id="MessageRole" style="font-size:12px; color:red"></span>
                                        </div>
                                    </div>
                                    <div class="row" style="height:10px"></div>
                                    <div class="row">
                                        <div class="col-lg-8" style="direction:ltr">
                                            <input id="btn_save" type="submit" value="Save" class="btn btn-danger" style="background:brown;color:white" />
                                            <input id="btn_cancle" type="button" value="Cancle" onclick="location.href='IndexAdmin';" class="btn btn-danger" style="background:brown;color:white" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
    function CheckInputs() {
        var Email = document.getElementById("Email").value;
        var UserName = document.getElementById("UserName").value;
        var Password = document.getElementById("Password").value;
        var RoleId = document.getElementById("Id").value;

        if (Email != "" && UserName != "" && Password != "" && RoleId != "") {
            return true;
        }
        else {
            document.getElementById("EmailError").innerHTML = "";
            document.getElementById("UserNameError").innerHTML = "";
            document.getElementById("PasswordError").innerHTML = "";
            document.getElementById("MessageRole").innerHTML = "";

            if (Email == "") {
                document.getElementById("EmailError").innerHTML = "Enter Email Address";
            }
            if (UserName == "") {
                document.getElementById("UserNameError").innerHTML = "Enter UserName";
            }
            if (Password == "") {
                document.getElementById("PasswordError").innerHTML = "Enter Password";
            }
            if (RoleId == "") {
                document.getElementById("MessageRole").innerHTML = "Choose User Role";
            }

            return false;
        }
    }
    </script>
    <script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/admin/AddDoctor',
                type: 'post',
                data: $('#myForm').serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        location.href = '@Url.Action("/IndexAdmin", "admin")';
                    }
                    else if (!data.success) {
                        document.getElementById("UserNameError").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
    </script>

</body>
</html>

