﻿@{
    ViewBag.Title = "AddLocation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Location</title>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="IndexAdmin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="HomeEditing"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li class="active">
                    <a href="Location"><i class="fa fa-map-marker"></i> Location</a>
                </li>
            </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Location
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="IndexAdmin">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-map-marker"></i> Location
                            </li>
                        </ol>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <form id="myForm" method="post">
                        <div class="col-md-11">

                            <p style="font-weight:bold;color:brown;font-size:15px">Address</p>
                            <textarea id="Address" name="Address" rows="3" cols="50" placeholder="Enter Address" style="width:50%;height:100%"></textarea>
                            <br />
                            <span id="MessageAddress" style="font-size:12px; color:red"></span>

                            <hr />
                            <p style="font-weight:bold;color:brown;font-size:15px">Telephone</p>
                            <input id="Phone" name="Phone" type="text" placeholder="Enter Phone Number" style="width:280px" />
                            <br />
                            <span id="MessagePhone" style="font-size:12px; color:red"></span>

                            <hr />
                            <p style="font-weight:bold;color:brown;font-size:15px">E-mail</p>
                            <input id="Email" name="Email" type="text" placeholder="Enter Email Address" style="width:280px"/>
                            <br />
                            <span id="MessageEmail" style="font-size:12px; color:red"></span>

                            <br /><br />
                            <div>
                                <input id="btn_save" type="submit" value="Save" class="btn btn-danger" style="background:brown;color:white" />
                                <input id="btn_cancle" type="button" value="Cancle" onclick="location.href='IndexAdmin';" class="btn btn-danger" style="background:brown;color:white" />
                            </div>
                            <br /><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
    function CheckInputs() {
        var Address = document.getElementById("Address").value;
        var Phone = document.getElementById("Phone").value;
        var Email = document.getElementById("Email").value;

        if (Address != "" && Phone != "" && Email != "") {
            return true;
        }
        else
        {
            document.getElementById("MessageAddress").innerHTML = "";
            document.getElementById("MessagePhone").innerHTML = "";
            document.getElementById("MessageEmail").innerHTML = "";
            if (Address == "") {
                document.getElementById("MessageAddress").innerHTML = "Enter Address";
            }
            if (!checkPhone()) {
                document.getElementById("MessagePhone").innerHTML = "Please Enter Correct Phone Number";
            }
            if (Phone == "") {
                document.getElementById("MessagePhone").innerHTML = "Enter Phone Number";
            }
            if (!IsValidEmail(Email))
            {
                document.getElementById("MessageEmail").innerHTML = "Please Enter Correct Email ";
            }
            if (Email == "") {
                document.getElementById("MessageEmail").innerHTML = "Enter Email";
            }
        return false;
      }
    }
    </script>

    <script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/admin/AddLocation',
                type: 'post',
                data: $('#myForm').serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        location.href = '@Url.Action("/IndexAdmin", "admin")';
                    }
                    else if (!data.success) {
                        document.getElementById("MessageAddress").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
    </script>

    <script type="text/javascript">
    function IsValidEmail(Email)
    {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(Email);
    };
    </script>

    <script type="text/javascript">
    function checkPhone() {
        var phone = document.getElementById("Phone");
        var phoneNum = "^01[0-2][0-9]{8}$";
        return phone.value.match(phoneNum);
    };
    </script>
</body>
</html>

