﻿@{
    ViewBag.Title = "AddMainService";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Main Service</title>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="CureClinicStaff"><i class="fa fa-fw fa-pencil"></i> About</a>
            </li>
            <li>
                <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
            </li>
            <li class="active">
                <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
            </li>
         </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Add Main Service
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-desktop"></i>  <a href="GetCategory">Get Main Services</a>
                            </li>
                            <li class="active">
                                AddMainService
                            </li>
                        </ol>
                    </div>
                </div>
                <br />

                <form id="myForm" method="post">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-11">
                            <p style="font-weight:bold;color:brown;font-size:15px">Title</p>
                            <input id="Title" name="Title" type="text" placeholder="Enter Title" style="width:180px" />
                            <br />
                            <span id="MessageError" style="font-size:12px; color:red"></span>

                            <br /><br />
                            <div>
                                <input id="btn_save" type="submit" value="Save" class="btn btn-danger" style="background:brown;color:white" />
                                <input id="btn_cancle" type="button" value="Cancle" onclick="location.href='@Url.Action("GetMainService", "admin")';" class="btn btn-danger" style="background:brown;color:white" />
                            </div>
                        </div>
                    </div>
                </form>

                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
    function CheckInputs() {
        var Title = document.getElementById("Title").value;
        if (Title != "") {
            return true;
        }
        else {
            document.getElementById("MessageError").innerHTML = "";
            if (Title == "") {
                document.getElementById("MessageError").innerHTML = "Enter Title";
            }
            return false;
        }
    }
    </script>

    <script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/admin/AddMainService',
                type: 'post',
                data: $('#myForm').serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        location.href = '@Url.Action("GetMainService", "admin")';
                    }
                    else if (!data.success) {
                        document.getElementById("MessageError").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
    </script>

</body>
</html>

