﻿@model IEnumerable<Cure_Clinic.Models.Blog>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog</title>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="CureClinicStaff"><i class="fa fa-fw fa-pencil"></i> About</a>
            </li>
            <li class="active">
                <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
            </li>
            <li>
                <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
            </li>
         </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Blog
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="Index">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Blog
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="container-fluid">
                    <input id="btn_add" type="button" value="Add New Post" onclick="location.href='@Url.Action("AddBlog", "admin")';" class="btn btn-success" />
                    <div class="row"><br /></div>

                    <div class="row" style="width:100%;height:100%">
                        <table class="table table-responsive" >
                            <tr>
                                <th>
                                    @Html.DisplayName("Title")
                                </th>
                                <th>
                                    @Html.DisplayName("Post Text")
                                </th>
                                <th>
                                    @Html.DisplayName("Post Date")
                                </th>
                                @*<th>
                                    @Html.DisplayName("Post Photo")
                                </th>*@
                                <th></th>
                            </tr>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        @if (item.Title.Length > 15)
                                        {
                                            <td>
                                                <div>@item.Title.Substring(0, 15)</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                        }

                                        @if (item.PostText.Length > 15)
                                        {
                                            <td>
                                                <div>@item.PostText.Substring(0, 15)</div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PostText)
                                            </td>
                                        }
                                        <td>
                                            <div>@item.PostDate.ToShortDateString()</div>
                                        </td>
                                        @*<td>
                                            <img src="@item.PostImg" style="width:20%;border-radius: 50%;" />
                                        </td>*@
                                        <td>
                                            @Html.ActionLink("Comments", "PostComments", new { id = item.Id }) |
                                            @Html.ActionLink("Edit", "EditBlog", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "DeleteBlog", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                 
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
        </div>
</div>
</body>
</html>

