﻿@model Cure_Clinic.Models.User
@using Cure_Clinic.Models;
@{CureClinicEntities db = new CureClinicEntities();}
@{
    ViewBag.Title = "ChangeUserData";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Change User Data</title>
</head>
<body>

    @section menu
        {

    }

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Change User Data
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-fw fa-gear"></i><a href="Index">Settings</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-lock"></i> Change User Data
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <a href="Login" style="font:bold;font-size:20px;color:crimson">Back To Login</a>
                </div>
            </div>

            <br />

            <form id="myForm" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-primary" style="border-color:#222222">
                            <div class="panel-heading" style="background-color:#222222;color:#0dc5cf">Change User Data</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-2">
                                        <p>Email:</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <input id="Email" name="Email" type="text" value="@Model.Email" class="form-control" placeholder="Email Address" />
                                        <span id="EmailError" style="font-size:12px; color:red"></span>
                                    </div>
                                    <div class="col-lg-2">

                                    </div>
                                </div>
                                <div class="row" style="height:10px"></div>

                                <div class="row">
                                    <div class="col-lg-2">
                                        <p>Username:</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <input id="UserName" name="UserName" type="text" value="@Model.UserName" class="form-control" placeholder="UserName" />
                                        <span id="UserNameError" style="font-size:12px; color:red"></span>
                                        <input id="Id" name="Id" value="@Model.Id" type="hidden" />
                                    </div>
                                    <div class="col-lg-2">

                                    </div>
                                </div>
                                <div class="row" style="height:10px"></div>

                                <div class="row">
                                    <div class="col-lg-2">
                                        <p>Password:</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <input id="Password" name="Password" type="text" value="@Model.Password" class="form-control" placeholder="Password" />
                                        <span id="PasswordError" style="font-size:12px; color:red"></span>
                                    </div>
                                    <div class="col-lg-2">

                                    </div>
                                </div>
                                <div class="row" style="height:10px"></div>

                                <div class="row">
                                    <div class="col-lg-2">
                                        <p>Confirm Password:</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <input id="ConfirmPassword" name="ConfirmPassword" type="text" class="form-control" placeholder="Confirm Password" />
                                        <span id="ConfirmPasswordError" style="font-size:12px; color:red"></span>
                                    </div>
                                    <div class="col-lg-2">

                                    </div>
                                </div>
                                <div class="row" style="height:10px"></div>

                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-8" style="direction:ltr">
                                        <input id="btn_save" type="submit" value="Save" class="btn btn-danger" style="background:brown;color:white" />
                                        <input id="btn_cancle" type="button" value="Cancle" onclick="location.href='Index';" class="btn btn-danger" style="background:brown;color:white" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input id="btn_delete" type="button" value="Delete Account" onclick="location.href='DeleteAccount';" class="btn btn-primary" style="margin-left:85px" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <span id="UpdateMessage" style="font-size:20px;font:bold;color:#0dc5cf"></span>

            <br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
    function testInput(event) {
       var value = String.fromCharCode(event.which);
       var pattern = new RegExp(/[a-zåäö ]/i);
       return pattern.test(value);
    }

    $('#UserName').bind('keypress', testInput);
    </script>

    <script>
        function CheckInputs() {
        var Email = document.getElementById("Email").value;
        var UserName = document.getElementById("UserName").value;
        var Password = document.getElementById("Password").value;
        var ConfirmPassword = document.getElementById("ConfirmPassword").value;


        if (Email != "" && UserName != "" && Password == ConfirmPassword) {
            return true;
        }
        else {
            document.getElementById("EmailError").innerHTML = "";
            document.getElementById("UserNameError").innerHTML = "";
            document.getElementById("PasswordError").innerHTML = "";
            document.getElementById("ConfirmPasswordError").innerHTML = "";

            if (Email == "") {
                document.getElementById("EmailError").innerHTML = "Please Enter Email Address";
            }
            if (UserName == "") {
                document.getElementById("UserNameError").innerHTML = "Please Enter UserName";
            }
            if (Password == "") {
                document.getElementById("PasswordError").innerHTML = "Please Enter Password";
            }
            if (Password != ConfirmPassword) {
                document.getElementById("ConfirmPasswordError").innerHTML = "The two passwords do not match";
            }

            return false;
        }
    }
    </script>
    <script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/admin/ChangeUserData',
                type: 'post',
                data: $('#myForm').serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        @*location.href = '@Url.Action("Login", "admin")';*@
                        document.getElementById("UpdateMessage").innerHTML = data.message;
                    }
                    else if (!data.success) {
                        document.getElementById("UserNameError").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
    </script>

</body>
</html>

