﻿@model IEnumerable<Cure_Clinic.Models.Contact>
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="IndexAdmin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="HomeEditing"><i class="fa fa-fw fa-home"></i> Home</a>
            </li>
            <li>
                <a href="Location"><i class="fa fa-map-marker"></i> Location</a>
            </li>
            </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Messages
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="IndexAdmin">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-envelope"></i> Contact
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <br/><br/>
                    @*<div class="col-lg-12">
                        <h2 class="page-header" style="color:crimson">Messages</h2>
                    </div>*@
                </div>

                <div class="row"></div>

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Sender Name")
                        </th>
                        <th>
                            @Html.DisplayName("Message Text")
                        </th>
                        <th>
                            @Html.DisplayName("Message Status")
                        </th>
                        <th></th>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                @if (item.IsSeen == false)
                                {
                                    <td>
                                        @if (item.Message.Length > 15)
                                        {
                                        <div>@item.Message.Substring(0, 15)</div>
                                        }
                                        else
                                        {
                                            <div>@item.Message</div>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @if (item.Message.Length > 15)
                                        {
                                            <div>@item.Message.Substring(0, 15)</div>
                                        }
                                        else
                                        {
                                            <div>@item.Message</div>
                                        }
                                    </td>
                                }

                                @if (item.IsSeen == false)
                                {
                                    <td style="color:crimson">
                                        @Html.DisplayName("Not Seen")
                                    </td>
                                }
                                else if (item.IsSeen == true)
                                {
                                    <td style="color:black">
                                        @Html.DisplayName("Seen")
                                    </td>
                                }
                                <td>
                                    @Html.ActionLink("Details", "ContactMessageDetails", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "DeleteMessage", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    }
                </table>
                <br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br />
            </div>
        </div>
     </div>
</body>
</html>

