﻿@model Cure_Clinic.Models.Contact
@{
    ViewBag.Title = "ContactMessageDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Message Details</title>
</head>
<body>
        @section menu
        {
            @*<ul class="nav navbar-nav side-nav">
                <li>
                    <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="Home"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="About"><i class="fa fa-fw fa-pencil"></i> About</a>
                </li>
                <li>
                    <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
                </li>
                <li>
                    <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
                </li>
                <li class="active">
                    <a href="Location"><i class="fa fa-map-marker"></i> Location</a>
                </li>
            </ul>*@
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Contact Message Details
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-envelope"></i>  <a href="IndexAdmin">Contact</a>
                            </li>
                            <li class="active">
                                Contact Message Details
                            </li>
                        </ol>
                    </div>
                </div>

            
            
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Sender Name:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <br />

                        <dt>
                            @Html.DisplayName("Email:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <br />

                        <dt>
                            @Html.DisplayName("Message Text:")
                        </dt>

                        <dd>
                            @*@Html.DisplayFor(model => model.Message.Replace(Environment.NewLine,"<br/>"))*@
                            @Html.Raw(Html.Encode(Model.Message).Replace("\n", "<br />"))
                        </dd>

                        <br />

                        <dt>
                            @Html.DisplayName("Date:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                    </dl>
                    <br /><br />
                </div>

               
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                    @*<input type="button" class="button" style="font-size:15px;background-color:crimson;color:white" value="Back" onclick="location.href='@Url.Action("Contact", "admin")'">*@
                    <input id="btn_cancle" type="button" value="Back" onclick="location.href='@Url.Action("Contact", "admin")';" class="btn btn-danger" style="background:brown;color:white" />

                </div>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
  
</body>
</html>

