﻿@model Cure_Clinic.Models.About
@using Cure_Clinic.Models;
@{CureClinicEntities db = new CureClinicEntities();}
@{
    ViewBag.Title = "CureClinicStaff";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 70%;
        max-height: 70%;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .title {
        color: grey;
        font-size: 14px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: black;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
    }
    /*a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }*/
    .anchor {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover, anchor:hover {
        opacity: 0.7;
    }
</style>

<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CureClinicStaff</title>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="CureClinicStaff"><i class="fa fa-fw fa-pencil"></i> About</a>
                </li>
                <li>
                    <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
                </li>
                <li>
                    <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
                </li>
            </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            Cure Clinic Staff
                        </h2>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  
                                <a href="Index">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-pencil"></i> Cure Clinic Staff
                            </li>
                        </ol>
                    </div>
                </div>

                <!--Content-->
                <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <img src="@Model.DoctorPic" style="width:100%;height:180px">
                                    <h5>@Model.DoctorName</h5>
                                    <p class="title">@Model.Job</p>
                                    <p><button onclick="location.href='@Url.Action("About", "admin")'">See More</button></p>
                                </div>
                            </div>
                    <div class="col-md-4">

                    </div>
                </div>
                <br /><br /><br /><br /><br />
            </div>
         </div>
  </div>
</body>
</html>

