﻿@*@using Cure_Clinic.Models;
@{CureClinicEntities db = new CureClinicEntities();}*@

@{ 
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="wrapper">
        @section menu
        {
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="CureClinicStaff"><i class="fa fa-fw fa-pencil"></i> About</a>
                </li>
                <li>
                    <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
                </li>
                <li>
                    <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
                </li>
            </ul>
        }

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="page-header">
                                Add Doctor Information :
                            </h2>
                            <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-dashboard"></i>  <a href="Index">Dashboard</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-pencil"></i> About
                                </li>
                            </ol>
                        </div>
                    </div>

                    <form id="myForm" method="post">
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-11">
                                <p style="font-weight:bold;font-size:20px">Choose Picture :</p>
                                <br /><br />
                                <input type="file" name="Image" id="Image" />
                                <span id="MessageImage" style="font-size:12px; color:red"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-1">

                            </div>
                            <div class="col-md-11">
                                <hr />
                                <p style="font-weight:bold;color:brown;font-size:15px">Name:</p>
                                <input id="Name" name="Name" type="text" placeholder="Enter Name" />
                                <br />
                                <span id="MessageName" style="font-size:12px; color:red"></span>
                                <hr />
                                <p style="font-weight:bold;color:brown;font-size:15px">Job:</p>
                                <input id="Job" name="Job" type="text" placeholder="Enter job" />
                                <br />
                                <span id="MessageJob" style="font-size:12px; color:red"></span>
                                <hr />
                                <p style="font-weight:bold;color:brown;font-size:15px">About:</p>
                                <textarea id="Definition" name="Definition" rows="7" cols="130" placeholder="Enter About Text"></textarea>
                                <span id="MessageDefinition" style="font-size:12px; color:red"></span>
                                <br /><br />
                                <div>
                                    <input id="btn_save" type="submit" value="Save" class="btn btn-danger" style="background:brown;color:white" />
                                    <input id="btn_cancle" type="button" value="Cancle" class="btn btn-danger" style="background:brown;color:white" onclick="location.href='@Url.Action("/Index", "admin")'" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
     </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
    function CheckInputs() {
        var Name = document.getElementById("Name").value;
        var Job = document.getElementById("Job").value;
        var Definition = document.getElementById("Definition").value;

        if (Definition != "" && Name != "" && Job != "") {
            return true;
        }
        else {
            document.getElementById("MessageName").innerHTML = "";
            document.getElementById("MessageJob").innerHTML = "";
            document.getElementById("MessageDefinition").innerHTML = "";
            if (Name == "") {
                document.getElementById("MessageName").innerHTML = "please enter Name";
            }
            if (Job == "") {
                document.getElementById("MessageJob").innerHTML = "please enter job";
            }
            if (Definition == "") {
                document.getElementById("MessageDefinition").innerHTML = "enter your information";
            }
            return false;
        }
    }
    </script>

    <script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            var formData = new FormData($('form')[0]);
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/admin/DoctorAbout',
                type: 'post',
                data: $('#myForm').serialize(),
                data: formData,
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        location.href = '@Url.Action("CureClinicStaff", "admin")';
                    }
                    else if (!data.success) {
                        document.getElementById("MessageName").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
    </script>
</body>
</html>
