﻿@using Cure_Clinic.Models;

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    CureClinicEntities db = new CureClinicEntities();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery</title>
    <link href="~/Contents/css_dashboard/style.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        @section menu
        {
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="IndexAdmin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="HomeEditing"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="Location"><i class="fa fa-map-marker"></i> Location</a>
                </li>
            </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Gallery
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-home"></i><a href="IndexAdmin">Home</a>
                            </li>
                            <li class="active">
                                 Gallery
                            </li>
                        </ol>
                    </div>
                </div>
                <form id="myForm" method="post">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-11">
                            <p style="font-weight:bold;font-size:25px">Gallery Images</p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @{
                            var home = db.Homes.FirstOrDefault();
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-3">
                                <br />
                                <input id="HomeId" name="HomeId" value="@home.Id" type="hidden" />
                                <img src="@home.GPhoto1" style="width:60%;border-radius: 50%;" />
                                <br /><br />
                                <input type="file" name="Image1" id="Image1" />
                            </div>

                            <div class="col-md-3">
                                <br />
                                <img src="@home.GPhoto2" style="width:60%;border-radius: 50%;" />
                                <br /><br />
                                <input type="file" name="Image2" id="Image2" />
                            </div>

                            <div class="col-md-3">
                                <br />
                                <img src="@home.GPhoto3" style="width:60%;border-radius: 50%;" />
                                <br /><br />
                                <input type="file" name="Image3" id="Image3" />
                            </div>
                        }
                    </div>
                    <br />
                    <div class="row">
                        @{
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-3">
                                <br />
                                <img src="@home.GPhoto4" style="width:60%;border-radius: 50%;" />
                                <br /><br />
                                <input type="file" name="Image4" id="Image4" />
                            </div>

                            <div class="col-md-3">
                                <br />
                                <img src="@home.GPhoto5" style="width:60%;border-radius: 50%;" />
                                <br /><br />
                                <input type="file" name="Image5" id="Image5" />
                            </div>

                            <div class="col-md-3">
                                <br />
                                <img src="@home.GPhoto6" style="width:60%;border-radius: 50%;" />
                                <br /><br />
                                <input type="file" name="Image6" id="Image6" />
                            </div>
                        }
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-4">
                            <input id="btn_save" type="submit" value="Save" class="btn btn-danger" style="background:brown;color:white" />
                            <input id="btn_cancle" type="button" value="Cancle" class="btn btn-danger" style="background:brown;color:white" onclick="location.href='@Url.Action("/HomeEditing", "admin")'" />
                        </div>
                        <div class="col-md-7">
                            
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   
    <script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            var formData = new FormData($('form')[0]);
            $.ajax({
                url: '/admin/Gallery',
                type: 'post',
                data: $('#myForm').serialize(),
                data: formData,
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        location.href = '@Url.Action("HomeEditing", "admin")';
                    }
                    else if (!data.success) {
                        document.getElementById("MessageImage").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
    </script>
</body>
</html>
