﻿@model IEnumerable<Cure_Clinic.Models.SubService>
@{
    ViewBag.Title = "GetServices";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get Sub Services</title>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="CureClinicStaff"><i class="fa fa-fw fa-pencil"></i> About</a>
            </li>
            <li>
                <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
            </li>
            <li class="active">
                <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
            </li>
         </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Get Sub Services
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-desktop"></i>  <a href="Services">Services</a>
                            </li>
                            <li class="active">
                                GetSubServices
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="container-fluid">
                    <input id="btn_add" type="button" value="Add New SubServices" onclick="location.href='@Url.Action("AddService", "admin")';" class="btn btn-success" />
                    <input id="btn_cancle" type="button" value="Cancle" onclick="location.href='@Url.Action("Services", "admin")';" class="btn btn-danger" style="background:brown;color:white" />
                    <div class="row"></div>

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayName("Sub Services")
                            </th>
                            <th>
                                @Html.DisplayName("Main Services")
                            </th>
                            <th></th>
                        </tr>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MainService.Title)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditService", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "DeleteService", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        }
                        <span style="font-size:20px; color:red" class="alert">@(TempData["DeleteServiceError"] ?? string.Empty)</span>
                    </table>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
        </div>
</div>
</body>
</html>

