﻿@using Cure_Clinic.Models;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    CureClinicEntities db = new CureClinicEntities();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
<div id="wrapper">
        @section menu
        {
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="IndexAdmin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="active">
                    <a href="HomeEditing"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="Location"><i class="fa fa-map-marker"></i> Location</a>
                </li>
            </ul>
        }

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Home
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="IndexAdmin">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-fw fa-home"></i> Home
                        </li>
                    </ol>
                </div>
            </div>

            <br /><br /><br /><br />
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-3">
                    <a href="Slider">
                        <div class="box box-overflow" style="width:100%;text-align:center;padding-top:10px;border:solid;border-color:cadetblue;border-radius:2px">
                            <img src="~/Contents/images/background/slider.jpg" style="width:100%;height:100%" />    
                            <h2 style="color:brown;font-size:30px">Slider</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="Boxes">
                        <div class="box box-overflow" style="width:100%;text-align:center;padding-top:10px;border:solid;border-color:cadetblue;border-radius:2px">
                            <img src="~/Contents/images/background/boxes.jpg" style="width:100%;height:100%" />
                            <h2 style="color:brown;font-size:30px">Boxes</h2>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="Gallery">
                        <div class="box box-overflow" style="padding-bottom:10px; width:100%;text-align:center;padding-top:10px;border:solid;border-color:cadetblue;border-radius:2px">
                            <img src="~/Contents/images/background/Gallery3.jpg" style="width:100%;height:100%" />
                            <h2 style="color:brown;font-size:30px">Gallery</h2>
                        </div>
                    </a>
                </div>
                
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>
</div>
</body>
</html>