﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>Index</title>

</head>
<body>
    <div id="wrapper">
        @section menu
    {
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="IndexAdmin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="HomeEditing"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="Location"><i class="fa fa-map-marker"></i> Location</a>
                </li>
            </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>

                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</body>
</html>

