﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Contents/LoginCss/Css.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-lock">
            <div class="page-logo">
                <a class="brand" href="#">
                    <img src="~/Contents/images/background/apple-icon-180x180.png" alt="logo" style="width:100px;height:100px"/>
                </a>
            </div>
            <div class="page-body">
                <div class="lock-head" style="color:whitesmoke">
                    Admin Login
                </div>
                <div class="lock-body">
                    <div class="pull-left lock-avatar-block">
                    </div>
                    <form class="lock-form pull-left" method="post">
                        <div class="form-group">
                            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" id="username" name="username" required />
                        </div>

                        <div class="form-group">
                            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" id="password" name="password" required />
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success uppercase" style="width:40%;color:white">Login</button>
                            <br />
                            <span style="font-size:16px; color:red; font-weight:bold">@ViewBag.Message</span>
                        </div>
                    </form>
                </div>
                <div class="lock-bottom">
                    <a href="#" id="forget" style="color:whitesmoke;font-size:15px">Forget password?</a>
                </div>

                <div id="Restore" hidden>
                    <h2 style="color:#25dde7;font-size:20px;font:bold;font-family:Arial">Restore password</h2>
                    <div>
                        <img src="~/Contents/img/mail_t.png" style="padding-left:10px" />
                        <input type="text" id="EmailAddress" name="name" class="mail_lo" placeholder="Enter Email Address" />
                        <a href="javascript:;" onclick="GetPassword()" data-hover="Restore" style="color:#25dde7;font-family:Arial;font-size:13px;padding-left:10px"><span>Restore </span></a>
                    </div>
                    <br />

                    <div>
                        <nav>
                            <script>
                                function GetPassword() {
                                    var email = $("#EmailAddress").val();
                                    if(email==""){
                                        $("#invalidEmailID").show();
                                        $('#validEmailID').hide();
                                        $("#invalidUserNameID").hide();
                                    }
                                    $.ajax({
                                        url: "/admin/ForgotPassword",
                                        data: { email: email },
                                        type: "POST",
                                        beforeSend: function () {
                                            $("#invalidEmailID").hide();
                                            $('#validEmailID').hide();
                                        },
                                        success: function (data) {
                                            if (data.success) {
                                                $('#validEmailID').show();
                                                $("#invalidEmailID").hide();
                                                $("#invalidUserNameID").hide();
                                            }
                                            else if (!data.success) {
                                                $("#invalidEmailID").show();
                                                $('#validEmailID').hide();
                                                $("#invalidUserNameID").hide();
                                            }
                                            $.each(data.Errors, function (key, value) {
                                            });
                                        }
                                    });
                                }
                            </script>
                        </nav>
                    </div>

                </div>

                <script>
                    $(document).ready(function(){
                        $("#forget").click(function () {
                            $("#Restore").show();
                        });
                    });
                </script>

                <div style="display:none" id="validEmailID">
                    <p class="action_right parag wow bounceIn" data-wow-delay="3s" data-wow-duration="2s">
                        Your account password has been restored. Please check your email
                    </p>
                </div>
                <div style="display:none" id="invalidUserNameID">
                    <p class="action_none parag wow bounceIn" data-wow-delay="3s" data-wow-duration="2s">
                        The username or password you entered is incorrect. Please confirm your username and password
                    </p>
                </div>
                <div style="display:none" id="invalidEmailID">
                    <p class="action_none parag wow bounceIn" data-wow-delay="3s" data-wow-duration="2s">
                        The mail you entered is invalid .. Please confirm email
                    </p>
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</body>
</html>
