﻿@model IEnumerable<Cure_Clinic.Models.Comment>
@using Cure_Clinic.Models;
@{CureClinicEntities db = new CureClinicEntities();}
@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comments</title>

    <style>
        .disabled {
            pointer-events: none;
        }

        #inline2 {
            margin-bottom: 0;
            overflow: hidden;
            display: none;
        }

        .inline_inner {
        }

            .inline_inner h3 {
                color: #6a6a6a;
                font-size: 12.3px;
                background: url('../img/aletrs.png') right top no-repeat;
                padding: 10px 40px 0 0;
            }


        .list_acc_ref li {
            margin-left: 0;
            padding: 1px;
            border: 1px solid #dadada;
            width: 115px;
            margin: 0 auto;
        }

        .list_acc_ref {
            margin-bottom: 0;
            list-style-type: none;
            overflow: hidden;
        }






        /* Effect 18: reveal, push out */
        .cl-effect-18 {
            position: relative;
            z-index: 1;
        }

            .cl-effect-18 a {
                overflow: hidden;
            }

            .cl-effect-18 p {
                margin-bottom: 0;
            }

            .cl-effect-18 a span {
                display: block;
                -webkit-transition: -webkit-transform 0.3s;
                -moz-transition: -moz-transform 0.3s;
                transition: transform 0.3s;
                background: #4aa682;
                height: 32px;
                line-height: 33px;
                font-size: 11px;
                color: #f7f6f1;
            }


            .cl-effect-18 a::before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                padding: 0px 0px;
                width: 100%;
                height: 100%;
                background: #dc4343;
                color: #fff;
                content: attr(data-hover);
                -webkit-transition: -webkit-transform 0.3s;
                -moz-transition: -moz-transform 0.3s;
                transition: transform 0.3s;
                -webkit-transform: translateX(-25%);
                text-align: center;
                line-height: 32px;
            }


            .cl-effect-18 a:hover span,
            .cl-effect-18 a:focus span {
                -webkit-transform: translateX(100%);
                -moz-transform: translateX(100%);
                transform: translateX(100%);
            }

            .cl-effect-18 a:hover::before,
            .cl-effect-18 a:focus::before {
                -webkit-transform: translateX(0%);
                -moz-transform: translateX(0%);
                transform: translateX(0%);
            }
    </style>
</head>
<body>
    <div id="wrapper">
        @section menu
        {
            <ul class="nav navbar-nav side-nav disabled">
                <li>
                    <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="CureClinicStaff"><i class="fa fa-fw fa-pencil"></i> About</a>
                </li>
                <li class="active">
                    <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
                </li>
                <li>
                    <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
                </li>
            </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Comments
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-edit"></i><a href="Blog">Blog</a>
                            </li>
                            <li class="active">
                                Comments
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="container-fluid">
                    <input id="btn_back" type="button" value="Back" onclick="location.href='@Url.Action("Blog", "admin")';" class="btn btn-danger" />
                    <a id="DeleteAllID" href="javascript:;" onclick="DeleteAll()" title=""><i></i><span>Delete Choose Item</span></a>

                    <div class="row"><br /></div>

                    <table class="table">
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayName("Comment Text")
                            </th>
                            <th>
                                @Html.DisplayName("Comment Date")
                            </th>

                        </tr>

                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="selectedItems" id=@string.Format("radio" + item.Id) class="css-checkbox9 all_check" value="@item.Id" />
                                        <label for=@string.Format("radio" + item.Id) class="css-label9" checked="checked">&nbsp; </label>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CommentDate)
                                    </td>
                                    @*<td>
                                            @Html.ActionLink("Delete", "DeleteComment", new { id = item.Id })
                                        </td>*@
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br /><br />
            <br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </div>

    <script>
        function DeleteAll() {
            var myData = new Array();
            var i = 0;
            $("input:checkbox[name='selectedItems']").each(
                   function () {
                       if (this.checked) {
                           myData[i] = this.value;
                           i++;
                       }
                   });
            if (myData.length > 0) {
                $('#DeleteAllID').attr('href', '/admin/DeleteComment?selectedItems=' + myData);
            }
        }
        function checkAll() {
            debugger
            var i = 0;
            $("input:checkbox[name='selectedItems']").each(
                   function () {
                       $("[name = selectedItems]")[i].checked = $("[name = selectAll]")[0].checked
                       i++;
                   });
        }
    </script>
</body>
</html>
