﻿@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Services</title>
    <link href="~/Contents/css_dashboard/style.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        @section menu
        {
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="Index"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a href="CureClinicStaff"><i class="fa fa-fw fa-pencil"></i> About</a>
            </li>
            <li>
                <a href="Blog"><i class="fa fa-fw fa-edit"></i> Blog</a>
            </li>
            <li class="active">
                <a href="Services"><i class="fa fa-fw fa-desktop"></i> Services</a>
            </li>
         </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Services
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="Index">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-desktop"></i> Services
                            </li>
                        </ol>
                    </div>
                </div>


                <br /><br /><br />
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5">
                        <a href="GetMainService">
                            <div class="box box-overflow" style="text-align:center;padding-top:60px">
                                <h2 style="color:brown;font-size:30px">Main Services</h2>
                            </div>
                        </a>
                    </div>
                    @*<div class="col-md-1">

                    </div>*@
                    <div class="col-md-5">
                        <a href="GetServices">
                            <div class="box box-overflow" style="text-align:center;padding-top:60px;">
                                <h2 style="color:brown;font-size:30px">Sub Services</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-1">

                    </div>
                    </div>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                </div>
            </div>
        </div>
</body>
</html>

