﻿@using Cure_Clinic.Models;
@{
    ViewBag.Title = "Slider";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    CureClinicEntities db = new CureClinicEntities();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Slider</title>
    <link href="~/Contents/css_dashboard/style.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        @section menu
        {
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="IndexAdmin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li  class="active">
                    <a href="HomeEditing"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="Location"><i class="fa fa-map-marker"></i> Location</a>
                </li>
            </ul>
        }

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Slider
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-home"></i><a href="IndexAdmin">Home</a>
                            </li>
                            <li class="active">
                                Slider
                            </li>
                        </ol>
                    </div>
                </div>
               <form id="myForm" method="post">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-11">
                            <p style="font-weight:bold;font-size:25px">Slider Images</p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        @{
                            var home = db.Homes.FirstOrDefault();
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-3">
                                <br />
                                <img src="@home.SlideImg1" style="width:60%;border-radius: 50%;" />
                                <br /><br />
                                @*<input type="file" name="Image1" id="Image1" />*@
                                <input type="file" name="Image1" id="Image1" multiple />
                                <span id="MessageImage" style="font-size:12px; color:red"></span>
                            </div>

                            <div class="col-md-3">
                                <br />
                                <img src="@home.SlideImg2" style="width:60%;border-radius: 50%;" />
                                <br /><br />
                                <input type="file" name="Image2" id="Image2" />
                                <span id="MessageImage" style="font-size:12px; color:red"></span>
                            </div>

                            <div class="col-md-3">
                                <br />
                                <img src="@home.SlideImg3" style="width:60%;border-radius: 50%;" />
                                <br /><br />
                                <input type="file" name="Image3" id="Image3" />
                                <span id="MessageImage" style="font-size:12px; color:red"></span>

                            </div>
                        }
                    </div>
                    <br /><hr />
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-11">
                            <p style="font-weight:bold;font-size:25px">Slider Text :</p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3">
                            <input id="HomeId" name="HomeId" value="@home.Id" type="hidden" />

                            <textarea id="SliderText1" name="SliderText1" rows="7" cols="30">
                                @home.SlideText1
                            </textarea>
                            <span id="MessageText1" style="font-size:12px; color:red"></span>
                        </div>
                        <div class="col-md-3">
                            <textarea id="SliderText2" name="SliderText2" rows="7" cols="30">
                                @home.SlideText2
                            </textarea>
                            <span id="MessageText2" style="font-size:12px; color:red"></span>
                        </div>
                        <div class="col-md-3">
                            <textarea id="SliderText3" name="SliderText3" rows="7" cols="30">
                                @home.SlideText3
                            </textarea>
                            <span id="MessageText3" style="font-size:12px; color:red"></span>
                        </div>
                    </div>

                    <br /><br />
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-4">
                            <input id="btn_save" type="submit" value="Save" class="btn btn-danger" style="background:brown;color:white" />
                            <input id="btn_cancle" type="button" value="Cancle" class="btn btn-danger" style="background:brown;color:white" onclick="location.href='@Url.Action("/HomeEditing", "admin")'" />
                        </div>
                        <div class="col-md-7">

                        </div>
                    </div>
                </form>
            </div>
        </div>
 </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    function CheckInputs() {
        var SliderText1 = document.getElementById("SliderText1").value;
        var SliderText2 = document.getElementById("SliderText2").value;
        var SliderText3 = document.getElementById("SliderText3").value;

        if (SliderText1 != "" && SliderText2 != "" && SliderText3 !="")
        {
            return true;
        }
        else 
        {
            document.getElementById("MessageText1").innerHTML = "";
            document.getElementById("MessageText2").innerHTML = "";
            document.getElementById("MessageText3").innerHTML = "";
            if (MessageText1 == "") {
                document.getElementById("MessageText1").innerHTML = "Enter Slider Text";
            }
            if (MessageText2 == "") {
                document.getElementById("MessageText2").innerHTML = "Enter Slider Text";
            }
            if (MessageText3 == "") {
                document.getElementById("MessageText3").innerHTML = "Enter Slider Text";
            }
            return false;
        }
    }
    </script>
    <script>
    $(document).ready(function () {
        $('#myForm').on('submit', function (event) {
            event.preventDefault();
            var formData = new FormData($('form')[0]);
            if (!CheckInputs()) return false;
            $.ajax({
                url: '/admin/Slider',
                type: 'post',
                data: $('#myForm').serialize(),
                data: formData,
                dataType: "json",
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        location.href = '@Url.Action("HomeEditing", "admin")';
                    }
                    else if (!data.success) {
                        document.getElementById("MessageImage").innerHTML = data.message;
                    }
                    $.each(data.Errors, function (key, value) {
                    });
                }
            });
        });
    });
    </script>
</body>
</html>
