/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

.fadeOut {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.fadeOut.fade {
  opacity: 0 !important;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.fadeIn.fade {
  opacity: 1 !important;
}

.view-animate {
  width: auto;
  height: 100%;
}

.enter {
  animation: fadeIn 0.35s both ease-in;
}

.leave {
  animation: fadeOut 0.35s both ease-in;
}

@keyframes fadeOut {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
  }
}
@keyframes load {
  0%,
    80%,
    100% {
    box-shadow: 0 0 #0000ff;
    height: 100px;
  }
  40% {
    box-shadow: 0 -2em #0000ff;
    height: 135px;
  }
}
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}
@keyframes toBottom {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}
@keyframes toTop {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
@keyframes toLeft {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
@keyframes toRight {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes spinAround {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Lato", sans-serif;
  color: #00858E;
}

p {
  color: #00858E;
  font-size: 1.3em;
}

/*! Flickity v2.0.5
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
  background: white;
}

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

/* css for top bar contact us*/
.top-bar-contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid grey;
}

.top-bar-contact li {
  float: left;
  padding-left: 20px;
}

/* facebook Icon in before*/
.fb {
  width: 35px;
  height: 35px;
  padding-top: 8px;
  border: solid silver 1px;
  border-radius: 50px;
  font-size: 16px;
  display: inline-block;
  margin-top: 12px;
  text-align: center;
  color: #929292;
}

.fb:hover {
  background-color: #3b5998;
  border-color: #3b5998;
  color: white;
}

.fb-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
}

.fb i:before {
  content: "\f09a";
  font-size: 16px;
}

.book-button {
  background-color: #24DCE6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

/* Float the list items side by side */
ul.topnav li {
  float: left;
  height: 142px;
  color: #4AAB4C;
}

/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: #00858E;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: white;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li:not(:first-child) {
  display: none;
}

ul.topnav li.icon {
  float: right;
  display: inline-block;
}

ul.topnav li:first-child img {
  height: 156px;
  position: relative;
  top: -20px;
}

ul.topnav li:last-child a {
  font-size: 40px;
}
ul.topnav.responsive {
  position: relative;
}

ul.topnav.responsive li.icon {
  position: absolute;
  right: 0;
  top: 0;
}

ul.topnav.responsive li {
  float: none;
  display: inline;
}

ul.topnav.responsive li a {
  display: block;
  text-align: left;
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 100%;
  height: 250px;
  margin-right: 10px;
  background: white;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

/* break points, fix up later to look nicer */
.carousel-cell:nth-child(1):before {
  display: block;
  text-align: center;
  content: "Welcome to a Healthy Start";
  line-height: 200px;
  font-size: 25px;
  color: #0CC4CE;
}

.carousel-cell:nth-child(2) {
  background-image: url("../images/cure-clinic.jpg");
  background-repeat: no-repeat;
  background-size: 800px 500px;
  background-position: center;
}

.carousel-cell:nth-child(2):before {
  display: block;
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
  font-size: 25px;
  color: white;
}

.carousel-cell:nth-child(3) {
  background-image: url("../images/the-clinic1.jpg");
  background-repeat: no-repeat;
  background-size: 800px 500px;
  background-position: center;
}

.carousel-cell:nth-child(3):before {
  color: white;
}

.carousel-cell:nth-child(4):before {
  display: block;
  text-align: center;
  content: "Medically trained, Naturally focused";
  line-height: 200px;
  font-size: 20px;
  color: #0CC4CE;
}

.box-titles {
  padding-top: 70px;
  color: white;
  font-size: 2em;
}

.parallax-scroll {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.4)), url("../images/flower.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.grey-section {
  background-color: #f2f2f2;
  width: 100%;
  overflow: hidden;
  padding-bottom: 22px;
}

.white-section {
  width: 100%;
  overflow: hidden;
  padding-bottom: 22px;
}

.section-title {
  background-color: #0CC4CE;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}

.the-doctor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 144px;
  padding-top: 10px;
}

.center-text {
  text-align: center;
}

.special-skills h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.special-skills-bullets {
  font-size: 2em;
}

.special-clickable a:link {
  text-decoration: none;
  color: #4AAB4C;
}

.visited a:visited {
  color: #00858E;
}

.box {
  width: 300px;
  height: 210px;
  background-color: #f2f2f2;
  display: inline-block;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-us-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.icons {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  position: relative;
  top: 0;
  border-radius: 50%;
  display: table;
  text-align: center;
  background-color: red;
  margin-top: -40px;
  margin-bottom: 30px;
}
.icons > span {
  display: table-cell;
  vertical-align: middle;
}
.icons > span i {
  font-size: 40px;
  color: white;
  margin: 0;
  padding: 0;
}

.colored-1 {
  background-color: #2aaf67;
}

.colored-2 {
  background-color: #e52b50;
}

.colored-3 {
  background-color: #2fc5cc;
}

.special-p {
  font-size: 1.1em;
}

.displayhidden {
  visibility: hidden;
}

.text-div {
  max-width: 1000px;
  display: table;
  margin: 0 auto;
}

.practitioners {
  height: 390px;
  overflow: hidden;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.dr-points {
  width: 40%;
  padding-top: 60px;
  padding-left: 210px;
}

.content {
  width: 60%;
}

.dr-points ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dr-points li {
  padding: 8px;
  margin-bottom: 8px;
  color: #00858E;
}

.about-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  padding-top: 10px;
}

.wrapper-section {
  max-width: 2000px;
}

.paragraph-wrapper {
  max-width: 800px;
  text-align: justify;
  margin: 0 auto;
  line-height: 180%;
  padding-top: 50px;
}
.paragraph-wrapper p {
  text-indent: 50px;
  padding-top: 30px;
}

.paragraph-wrapper-no-top-space {
  max-width: 800px;
  text-align: justify;
  margin: 0 auto;
  line-height: 180%;
}
.paragraph-wrapper-no-top-space p {
  text-indent: 50px;
}

.paragraph-wrapper-no-indent {
  max-width: 800px;
  text-align: justify;
  margin: 0 auto;
  line-height: 180%;
}

.service-box {
  width: 300px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #990000;
}

.service-name {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.services-subsec {
  margin: 0 auto;
  display: table;
  text-align: center;
  overflow: hidden;
}

.services-subsec ul {
  list-style: none;
}

.services-subsec li {
  float: left;
  width: 300px;
  height: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.topThreeServ li:first-child {
  background: url("../images/acupuncture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.topThreeServ li:nth-child(2) {
  background: url("../images/herbal-med.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.topThreeServ li:nth-child(3) {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.3)), url("../images/homeopathic.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bottomThreeServ li:first-child {
  background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.2)), url("../images/life-style.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bottomThreeServ li:nth-child(2) {
  background: linear-gradient(rgba(20, 20, 20, 0.1), rgba(20, 20, 20, 0.1)), url("../images/clinical-nutrition.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.bottomThreeServ li:nth-child(3) {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/lab-tests.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.programs-top li:first-child {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/healthy-person.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.programs-top li:nth-child(2) {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/breath-easier.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.programs-top li:nth-child(3) {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/homonal-balance.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.programs-top li:nth-child(4) {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/thyroid-balance.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.programs-bottom li:first-child {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/breath-easy.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.programs-bottom li:nth-child(2) {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/auto-immune.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.programs-bottom li:nth-child(3) {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/no-pain.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.programs-bottom li:nth-child(4) {
  background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("../images/auto-immune.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.tab-wrapper {
  max-width: 1500px;
  text-align: center;
}

.tab {
  overflow: hidden;
  display: inline-block;
  height: 80px;
  width: 200px;
  background-color: #cce6e8;
  padding-top: 11px;
  margin: 100px 20px 50px 0;
  border-radius: 30px;
}

.box-overflow {
  overflow: hidden;
  padding-bottom: 10px;
  line-height: 150px;
}

.service-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding-top: 30px;
  height: 450px;
}

.service-images-logos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  height: 200px;
}

.justify-right {
  text-align: right;
}

.labs-subsec {
  margin: 0 auto;
  display: table;
}

.labs-subsec ul {
  list-style: none;
  float: left;
}

.labs-subsec li {
  padding-bottom: 20px;
}

.labs-subsec h2 {
  text-align: left;
}

.labs-subsec h2:before {
  content: "\2713";
  padding-right: 13px;
}

.rates table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.rates td, th {
  border: 1px none #dddddd;
  text-align: left;
  padding: 8px;
}

.rates tr:nth-child(even) {
  background-color: #e6ffee;
}

.clear-flt {
  clear: both;
}

.booking-div {
  padding: 20px 0px 20px 0px;
}

.consult p {
  text-align: center;
  font-size: 36px;
  margin: 0;
}

.consult p:before {
  content: "\275D";
}

.consult p:after {
  content: "\003F \275E";
}

.book-by-phone p:before {
  content: "\260E";
  font-size: 20px;
}

.rates {
  display: table;
  margin: 0 auto;
  color: #4AAB4C;
  font-size: 19px;
}

.rates ul {
  list-style: none;
}

.booking {
  height: 250px;
}

.booking-white {
  color: white;
}

.info {
  height: 212px;
}

.width {
  max-width: 800px;
}

.footer {
  width: 100%;
  height: 195px;
  background-color: #00858E;
  overflow: hidden;
}

.footer-table {
  display: table;
  margin: 0 auto;
}

.footer-subsec {
  display: table;
  margin: 0 auto;
  font-size: 0.7em;
  overflow: hidden;
}

.footer-subsec ul {
  list-style: none;
  float: left;
}

.footer-subsec p {
  text-align: left;
  color: #24DCE6;
}

.footer-subsec :first-child :nth-child(5) {
  font-size: 16px;
}

.footer-subsec :first-child :not(:nth-child(1)) {
  font-size: 0.9em;
}
.footer-subsec :first-child :nth-child(5) {
  font-size: 1.1em;
}

.parallax-scroll {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.4)), url("../images/flower.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .top-bar ul {
    display: table;
    margin: 0 auto;
  }
  ul.topnav li:not(:first-child) {
    display: inline-block;
    position: relative;
    top: 30px;
  }
  ul.topnav li:last-child {
    display: none;
  }
  .carousel-cell .carousel-cell {
    height: 500px;
  }
  .carousel-cell {
    height: 500px;
  }
  .carousel-cell:nth-child(1):before {
    font-size: 50px;
  }
  .carousel-cell:nth-child(2):before {
    font-size: 50px;
  }
  .carousel-cell:nth-child(3):before {
    font-size: 50px;
  }
  .carousel-cell:nth-child(4):before {
    font-size: 50px;
  }
}

/*# sourceMappingURL=style.css.map */